@import '../../styles/_common';

#verified-upload {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: 2rem;

  .notices {
    box-sizing: border-box;
    padding: 0 3rem 0.9rem;
    color: $text-color;
    font-size: $font-assistant;
    font-weight: 600;
    line-height: 1.5;
  }

  .upload-content {
    position: relative;
    padding: 0 30px;
    margin-top: 2.5rem;

    p {
      color: $black-font-primary;
      font-size: $font-context;
    }

    img {
      width: 100%;
      max-height: 18rem;
    }

    input[type='file'] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 1.3rem;
      bottom: 1.3rem;
      left: 0;
      opacity: 0;
    }
  }
  .upload-img {
    margin: 4.5rem 20px 0;
  }
}
