@import '../../styles/mixin';

.tel-prefix__popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;

  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);

  &.show {
    display: flex;
  }

  ul {
    @include clearList;
    box-sizing: border-box;
    max-height: 80vh;
    max-width: 90%;
    padding: 10px 15px;
    background: $white;
    overflow-y: auto;
    border-radius: 3px;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      line-height: 1.8;
      padding: 5px 0;
      border-bottom: 1px solid $border-color;

      &.active {
        color: $primary-color;

        label {
          color: $primary-color;
        }
      }

      &:active {
        color: $primary-color;

        label {
          color: $primary-color;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      label {
        color: #666;
      }
    }
  }
}
