@import '../../styles/mixin';

#rule {
  @include clearFix;
  box-sizing: border-box;
  padding-top: $header-height;
  min-height: 100vh;

  p {
    padding: 8px 15px;
    line-height: 1.6;
  }
  .text-right {
    width: 100%;
    display: inline-block;
    text-align: right;
  }
}
