@import '../../styles/_common';

#deposit {
  header > div {
    .drawer-text {
      position: absolute;
      left: 5%;
      top: 28%;
      font-size: $font-title;
      font-weight: 500;
      color: $text-color;
    }
  }

  .modal-btn {
    position: absolute;
    bottom: 10%;
  }

  .handle-btn {
    bottom: 4%;
  }

  .am-drawer {
    .am-drawer-sidebar {
      width: 70%;
      background-color: #fff;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 99;
    }
  }

  main {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: $header-height;
    padding-bottom: $footer-height;
    -webkit-overflow-scrolling: touch;

    section.select-bar {
      width: 70%;
      margin: 3rem auto;
      background: $assistant-color;
      border-radius: 20px;
      color: #fff;
      padding: 0;

      .segmented-control {
        .am-segment-item {
          border: none;
          background: rgba(232, 113, 58, 0.5);
          color: #fff;
          border-radius: 20px;
          padding: 12px 0;
          font-size: $font-context - 0.1;
        }

        .am-segment-item-selected {
          border-radius: 20px;
          background: $primary-color!important;
        }
      }
    }
  }

  .sidebar {
    padding-top: 30px;
    font-weight: 500;
    z-index: 100;

    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      padding: 0 15px;
      font-size: $font-title-s;

      img {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    ul {
      @include clearList;

      li {
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        color: #5a5a5a;
        font-size: $font-assistant;

        &:first-child {
          font-size: $font-context;
          color: #35393e;
          border-bottom: 1px solid $border-color;
        }

        &.active {
          background: rgba(232, 113, 58, 0.3);
        }
      }
    }
  }
}
