@import "../../styles/mixin";

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 49px;
  border-top: 1px solid #fafafa;
  border-top: 1px solid #fafafa;
  background: #fff;

  ul {
    @include clearList;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
      transition: color .25s;

      img {
        width: 20px;
        margin-bottom: 5px;
      }

      &:active {
        color: $primary-color;
      }
    }
  }
}