@import '../../styles/_common';

#verified-identity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  #common-header {
    background: none;
  }

  @include clearFix;
  .identity-top {
    width: 100%;
    text-align: center;
    margin-top: -25%;
    line-height: 1.2;
    color: #fff;

    min-height: 20rem;
    box-sizing: border-box;
    padding: 30% 10% 15%;
    background-image: url('../../assets/images/2.1/home-banner.png');
    background-size: cover;
    background-position: center;

    label {
      display: block;
      margin-top: 7%;
      font-size: $font-assistant;
    }

    h2 {
      @include clearBack;
      font-size: $font-title-l;
    }

    p {
      @include clearBack;
      margin-top: 13px;
      font-weight: bold;
    }
  }

  .identity-bottom {
    padding: 3rem 5rem;
    text-align: center;

    .identity-bottom__type {
      @include clearList;
      display: flex;
      justify-content: space-around;
      margin: 3rem auto;

      li {
        width: 7rem;
        height: 6.2rem;
        box-sizing: border-box;
        padding: 1.5rem 1.6rem 0.5rem;
        border: 1px solid #ccc;
        font-size: 1rem;

        img {
          margin-bottom: 5px;
          width: 2.7rem;
          height: 1.7rem;
        }

        &.active {
          border: 1px solid $primary-color;
        }
      }
    }

    .identity-bottom__input {
      &.input-center {
        padding: 5rem 0;
      }

      input {
        @include clearInput;
        display: block;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;

        &::placeholder {
          font-weight: 600;
          color: #a7a7a9;
        }

        &:focus {
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }

  .primary-button {
    margin: 20px;
  }
}
