@import '../../styles/_common';

.deposit-unlock {
  display: none;
  text-align: center;

  &.show {
    display: block;
  }

  section {
    box-sizing: border-box;
    padding: 0 20px;

    &.content-detail {
      text-align: left;
      line-height: 1.5;

      p {
        margin: 10px 0;
        font-weight: bold;

        a {
          color: $primary-color;
          text-decoration: underline;
        }
      }

      h1 {
        margin: 10px 0;
        font-size: 40px;
      }
    }

    &.content-charge {

      p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 5px 0;
        font-weight: 500;
        font-size: $font-title;
        color: #000;
        border-bottom: 1px solid $border-color;

        span {
          color: $text-sub-color;
          font-size: 1.2rem;
        }
      }

      aside {
        text-align: right;
        font-size: $font-assistant;
        color: $text-sub-color;

        small {
          padding: 5px 0;
          display: block;
        }
      }

      h3 {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        font-weight: normal;
      }
    }
  }

  .primary-button {
    margin: 6rem 27% 20px;
  }

  .confirm-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    display: none;
    background: rgba(0, 0, 0, 0.4);

    &.show {
      display: block;
    }

    .content-box {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $white;
      padding-bottom: 40px;

      h2 {
        @include clearBack;
        position: relative;
        height: 36px;
        padding: 10px 0;
        border-bottom: 1px solid rgba(236, 236, 236, 1);
        line-height: 36px;
        text-align: center;
        font-size: $font-title;

        img {
          position: absolute;
          top: 0;
          right: 20px;
          bottom: 0;
          margin: auto;
          padding: 5px;
          width: 14px;
        }
      }

      .content {
        box-sizing: border-box;
        padding: 0 20px 30px;

        .groups {
          @include clearList;

          li {
            padding: 10px 0;
            border-bottom: 1px solid $border-color;
          }

          p {
            @include clearBack;
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            font-size: $font-assistant;
            color: $text-sub-color;

            &.title {
              font-size: $font-context;
              color: $text-color;
            }
          }

          li:last-child {
            border-bottom: none;
          }
        }

        .input-box {
          position: relative;
          width: 100%;
          display: inline-block;
          margin-top: 1rem;
          margin-bottom: 3rem;

          input {
            width: 100%;
            padding: 10px 0;
            font-size: 1.4rem;
            @include clearButton;
            border-bottom: 2px solid #000052;

            &::placeholder {
              color: $black-font-primary;
              font-weight: 500;
            }
          }

          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 2.2rem;
            height: 1.3rem;
          }
        }
      }

      .primary-button {
        margin: 0 20px;
      }
    }
  }
}
