@import '../../styles/_common';

#wallet-zbx {
  @include clearFix;
  box-sizing: border-box;
  padding-top: $header-height;
  min-height: 100vh;
  background: rgba(247, 247, 248, 1);

  header {
    background: $white;
  }

  .card {
    padding: 15px 13px;
    background: $white;
  }

  .records {
    @include clearList;
    padding: 14px 0 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
      padding: 13px 15px;
      background: $white;
      line-height: 1.6;
      font-weight: bold;

      main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        small{
          margin-top: 5px;
          color: $text-sub-color;
          font-size: $font-assistant;
        }
      }
    }
  }
}
