@import '../../styles/_common';

#register {
  @include clearFix;
  position: relative;
  box-sizing: border-box;
  background: $white;
  min-height: 100vh;

  .main-content {
    box-sizing: border-box;
    padding: 0 20px;

    label {
      position: relative;
      width: 100%;
      display: block;
      margin-bottom: 3rem;

      .input-main {
        @include clearButton;
        width: 100%;
        outline: none;
        padding: 10px 0;
        font-size: 1.3rem;
        border-bottom: 1px solid $black-border-bottom;

        &:focus {
          border-bottom: 2px solid $primary-color;
        }

        &::placeholder {
          color: $black-font-primary;
          font-weight: 500;
        }
      }

      .eye-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 2.2rem;
        height: 1.3rem;
      }

      .sms-code {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(50%);
        pointer-events: all;
        z-index: 1;

        &.event-none {
          pointer-events: none;
        }

        span {
          font-weight: 500;
          color: $primary-color;
        }
      }
    }

    p {
      display: flex;
      justify-content: space-between;
      font-size: $font-assistant + 0.1;
      margin-top: 2.5rem;

      a {
        color: $black-font-primary;
        text-decoration: none;
      }
    }
  }

  .primary-button {
    margin: 4rem 20px;
  }

  .register-success {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    z-index: 99;
    padding-bottom: 10rem;

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50%;

      img {
        width: 13.6rem;
      }

      .text {
        font-size: 2rem;
        font-weight: 500;
        color: $text-color;
      }
    }
  }
}
