@import "../../styles/mixin";

#bargain {
  box-sizing: border-box;
  padding-top: $header-height;
  font-weight: 500;

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);

    span {
      font-size: $font-title;
      font-weight: 500;
    }

    aside, img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    img {
      left: 16px;
      height: 1.5rem;
    }

    aside {
      display: flex;
      align-items: center;
      right: 16px;
      font-size: $font-context;
    }
  }

  .section-banner {
    padding: 17px 13px;

    .banner {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      box-sizing: border-box;
      padding: 15px 10px;
      border-radius: 5px;
      background: $bargain-banner-bg;
      // background: url('../../assets/images/bargain-banner.png') center;
      background-size: cover;
      line-height: 1.8;
      color: $white;

      .info {
        flex: 1;

        span {
          font-size: $font-title -1;
        }

        small {
          font-size: $font-context;
        }
      }

      button {
        @include clearButton;
        width: 6rem;
        height: 3rem;
        background: $bargain-banner-btn-bg;
        border-radius: 5px;
        font-size: $font-context;
        color: $bargain-banner-btn-color;
      }
    }

    p {
      @include clearBack;
      margin-top: 11px;
      color: $text-sub-color;
    }
  }

  .section-main {
    padding: 0 17px 20px;

    h2 {
      font-size: $font-title-s;
    }

    ul {
      @include clearList;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 14px 0;
        font-weight: bold;

        span {
          font-size: $font-title-s;
        }
      }
    }
  }

  .section-aside {
    margin: 0 16px;
    padding: 20px 0;
    text-align: justify;
    line-height: 1.6;
    color: $text-sub-color;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04) inset;
  }
}
